@keyframes enter {
	from {
		transform: translateY(20px);
		opacity: 0;
		filter: blur(10px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
		filter: blur(0px);
	}
}

@keyframes enter-logo {
	from {
		transform: translateY(50px);
		opacity: 0;
		filter: blur(10px);
	}

	to {
		transform: translateY(0);
		opacity: 0.3;
		filter: blur(0px);
	}
}

@keyframes float {
	0%,
	100% {
		transform: translate(-50%, -50%) translateY(0);
	}

	50% {
		transform: translate(-50%, -50%) translateY(-20px);
	}
}

.container {
	width: 100dvw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: var(--font-montserrat);
	color: var(--secondary);
	padding-top: 264px;
	align-items: center;
	padding-left: 24px;
	padding-right: 24px;
	position: relative;
	overflow: hidden;

	padding-bottom: 64px;
}

.title {
	color: var(--secondary);
	font-size: clamp(32px, 5vw, 48px);
	overflow-wrap: break-word;
	text-align: center;
	font-weight: 600;
	animation: enter ease 1s forwards;
	opacity: 0;

	background-image: linear-gradient(to top, #2d2d70, #fffaec);
	background-size: 300%;
	background-clip: text;
	color: transparent;
}

.badge {
	color: var(--secondary);
	font-size: 14px;
	margin-bottom: 12px;
	display: flex;
	align-items: center;
	animation: enter ease 1s forwards;
	animation-delay: 0.2s;
	opacity: 0;
}

.grid {
	margin-top: 124px;
	padding: 0 clamp(12px, 5vw, 64px);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	width: clamp(164px, 90vw, 1224px);
	gap: 12px;
}

.customText {
	font-weight: 700;
}

.buttonsContainer {
	margin-top: 32px;
	display: flex;
	gap: 16px;
}

.button {
	padding: 8px 32px;
	font-size: 16px;
	animation: enter ease 1s forwards;
	animation-delay: 0.4s;
	opacity: 0;
}

.logo {
	position: absolute;
	opacity: 0.3;
	top: 224px;
	z-index: -1;
	width: clamp(264px, 50vw, 424px);
	height: clamp(264px, 50vw, 424px);
	animation: enter-logo ease 2s forwards;
	animation-delay: 0.6s;
	opacity: 0;
}

.card {
	animation: enter ease 1s forwards;
	opacity: 0;
}

.lightOne {
	position: absolute;
	top: 70%;
	left: 80%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 500px;
	background: radial-gradient(circle at center, rgba(242, 255, 102, 0.2), transparent 70%);
	z-index: -1;
	pointer-events: none;
	opacity: 0.7;
	animation: float 6s ease-in-out infinite;
}

.lightTwo {
	position: absolute;
	top: 100%;
	left: 20%;
	transform: translate(-50%, -50%);
	width: 450px;
	height: 450px;
	background: radial-gradient(circle at center, rgba(102, 255, 168, 0.15), transparent 70%);
	z-index: -2;
	pointer-events: none;
	opacity: 0.7;
	animation: float 8s ease-in-out infinite reverse;
}

.lightThree {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
	height: 800px;
	background: radial-gradient(circle at center, rgba(130, 102, 255, 0.15), transparent 70%);
	z-index: -2;
	pointer-events: none;
	opacity: 0.7;
	animation: float 8s ease-in-out infinite reverse;
}

@media (max-width: 768px) {
	.grid {
		grid-template-columns: 1fr;
	}

	.button {
		padding: 8px 16px;
	}
}
