@keyframes enter {
	from {
		transform: translateY(20px);
		opacity: 0;
		filter: blur(10px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
		filter: blur(0px);
	}
}

@keyframes enter-logo {
	from {
		transform: translateY(50px);
		opacity: 0;
		filter: blur(10px);
	}

	to {
		transform: translateY(0);
		opacity: 0.3;
		filter: blur(0px);
	}
}

.container {
	width: 100dvw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: var(--font-montserrat);
	color: var(--secondary);
	padding-top: 264px;
	align-items: center;
	padding-left: 24px;
	padding-right: 24px;
	position: relative;
	overflow: hidden;

	padding-bottom: 64px;
}

.container::before {
	content: '';
	position: absolute;
	top: -20%;
	left: 0;
	right: 0;
	height: 100%;
	background: radial-gradient(circle at 50% 30%, rgba(102, 102, 255, 0.1), transparent 50%);
	z-index: -1;
	pointer-events: none;
}

.title {
	color: var(--secondary);
	font-size: clamp(32px, 5vw, 48px);
	overflow-wrap: break-word;
	text-align: center;
	font-weight: 600;
	animation: enter ease 1s forwards;
	opacity: 0;
}

.badge {
	color: var(--secondary);
	font-size: 14px;
	margin-bottom: 12px;
	display: flex;
	align-items: center;
	animation: enter ease 1s forwards;
	animation-delay: 0.2s;
	opacity: 0;
}

.grid {
	margin-top: 124px;
	padding: 0 clamp(12px, 5vw, 64px);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	width: clamp(164px, 90vw, 1224px);
	gap: 12px;
}

.customText {
	font-weight: 700;
}

.buttonsContainer {
	margin-top: 32px;
	display: flex;
	gap: 16px;
}

.button {
	padding: 8px 32px;
	font-size: 16px;
	animation: enter ease 1s forwards;
	animation-delay: 0.4s;
	opacity: 0;
}

.logo {
	position: absolute;
	opacity: 0.3;
	top: 224px;
	z-index: -1;
	width: clamp(264px, 50vw, 424px);
	height: clamp(264px, 50vw, 424px);
	animation: enter-logo ease 2s forwards;
	animation-delay: 0.6s;
	opacity: 0;
}

.card {
	animation: enter ease 1s forwards;
	opacity: 0;
}

.grid .card:nth-child(1) {
	animation-delay: 0s;
}

.grid .card:nth-child(2) {
	animation-delay: 0.2s;
}

.grid .card:nth-child(3) {
	animation-delay: 0.4s;
}

.grid .card:nth-child(4) {
	animation-delay: 0.6s;
}

.grid .card:nth-child(5) {
	animation-delay: 0.8s;
}

.grid .card:nth-child(6) {
	animation-delay: 1.0s;
}

@media (max-width: 768px) {
	.grid {
		grid-template-columns: 1fr;
	}

	.button {
		padding: 8px 16px;
	}
}