.container {
	width: 100dvw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: var(--font-montserrat);
	color: var(--secondary);
	padding-top: 264px;
	align-items: center;
	padding-left: 24px;
	padding-right: 24px;
	position: relative;
	overflow: hidden;
}

.container::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	height: 100%;
	background: radial-gradient(circle at 50% 30%, rgba(102, 102, 255, 0.1), transparent 50%);
	z-index: -1;
	pointer-events: none;
}

.title {
	color: var(--secondary);
	font-size: clamp(32px, 5vw, 48px);
	word-wrap: normal;
	flex-wrap: wrap;
}

.badge {
	color: var(--secondary);
	font-size: 14px;
	margin-bottom: 12px;
	display: flex;
	align-items: center;
}

.grid {
	margin-top: 124px;
	padding: 0 clamp(12px, 5vw, 64px);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	width: clamp(164px, 90vw, 1224px);
	gap: 12px;
}

.customText {
	font-weight: 700;
}

.buttonsContainer {
	margin-top: 32px;
	display: flex;
	gap: 16px;
}

.button {
	padding: 8px 32px;
	font-size: 16px;
}

.logo {
	position: absolute;
	opacity: 0.3;
	top: 224px;
	z-index: -1;
	width: clamp(264px, 50vw, 424px);
	height: clamp(264px, 50vw, 424px);
}

@media (max-width: 768px) {
	.grid {
		grid-template-columns: 1fr;
	}

	.button {
		padding: 8px 16px;
	}
}

@media (max-width: 480px) {
}
